.sidebar{

width:240px;

height:100vh;

position:fixed;

left:0;

top:0;

background:#ffffff;

border-right:1px solid #e5e7eb;

padding:22px 18px;

display:flex;

flex-direction:column;

justify-content:space-between;

z-index:1000;

}



.sidebar-main{

overflow:hidden;

}



/* LOGO */

.sidebar-logo{

display:flex;

align-items:center;

gap:12px;

margin-bottom:30px;

}


.logo-box{

width:40px;

height:40px;

background:#7c3aed;

color:white;

border-radius:12px;

display:flex;

align-items:center;

justify-content:center;

font-weight:700;

}


.sidebar-logo h2{

font-size:18px;

margin:0;

color:#1f2937;

}


.sidebar-logo p{

font-size:11px;

color:#9ca3af;

margin:3px 0;

}



/* PROFILE */


.profile-box{

text-align:center;

padding-bottom:20px;

border-bottom:1px solid #f1f1f1;

margin-bottom:18px;

}


.profile-box img{

width:65px;

height:65px;

border-radius:50%;

}


.profile-box h3{

font-size:15px;

margin:8px 0 2px;

}


.profile-box span{

font-size:12px;

color:#888;

}



/* MENU */


nav{

display:flex;

flex-direction:column;

gap:6px;

}


.menu-item{

border:none;

background:white;

height:42px;

border-radius:12px;

display:flex;

align-items:center;

gap:12px;

padding:0 14px;

cursor:pointer;

color:#6b7280;

font-size:14px;

}



.menu-item span{

display:flex;

font-size:16px;

}


.menu-item p{

margin:0;

}



.menu-item:hover{

background:#f5f3ff;

color:#7c3aed;

}



.menu-item.active{

background:#f3edff;

color:#7c3aed;

font-weight:600;

}



/* FOOTER */


.sidebar-footer{

padding-top:15px;

}


.logout-btn{

width:100%;

height:42px;

border:none;

border-radius:12px;

background:#f3edff;

color:#7c3aed;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

cursor:pointer;

font-size:14px;

}



.logout-btn:hover{

background:#7c3aed;

color:white;

}



/* RESPONSIVE */


@media(max-width:900px){


.sidebar{

width:80px;

padding:20px 10px;

}


.sidebar-logo div:last-child,
.profile-box,
.menu-item p,
.logout-btn span{

display:none;

}


.menu-item{

justify-content:center;

padding:0;

}


}